.additional-reading a {
	color: #2b0a78;
	font-size: 16px;
}
.additional-reading a:hover {
	font-weight: 600;
}
.additional-reading li {
	margin-bottom: 2px;
}
.share-icons-div {
	display: flex;
	justify-content: center;
	gap: 20px;
}
.share-icons-title i {
	font-size: 18px;
}
@media (max-width: 1199px) {
	.additional-reading a {
		font-size: 14px;
	}
}
@media (max-width: 575px) {
	.share-icons-div {
		gap: 10px;
	}
}

@media (max-width: 399px) {
	.share-icons-title i {
		font-size: 16px;
	}
}
