/* .carousel-section {
	height: 1000px;
}
.carousel-section .carousel-item {
	height: 800px;
}
.carousel-section .img-1 {
	background-image: url(../../images/carousel-1-ui-ux.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 100%;
}

.carousel-section .img-2 {
	background-image: url(../../images/carousel-2-ui-ux.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 100%;
}

.carousel-section .img-3 {
	background-image: url(../../images/carousel-3-ui-ux.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 100%;
} */
